{% extends '_layout/base.html.twig' %}

{% set titre = "Inscription" %}

{% block body %}
	{{ form_start(form) }}

        <div class="form-error">
            {{ form_errors(form)}}
        </div>

        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}

        <div style="text-align: center;">
            <button type="submit" class="btn btn-success mb-2">Créer mon compte</button>
        </div>

    {{ form_end(form) }}
{% endblock %}