{% extends '_layout/base.html.twig' %}

{% set titre = "Ajouter un bon plan" %}

{% block body %}
	{{ form_start(form) }}

        <div class="form-error">
            {{ form_errors(form)}}
        </div>

        <div class="detail-box">
            <div class="row">
                <div class="col-md-6">
                    <h1>Poster un nouveau code promo</h1>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('codePromo_add') }}" class="text-info">Ou poster un code promo</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    {{ form_row(form.lien, { "label": "Lien du deal (Facultatif)" }) }}

                    <h2>Description</h2>
                    {{ form_row(form.typeCodePromo, { "label": "Type de réduction (Facultatif)" }) }}
                    {{ form_row(form.codePromo, { "label": "Code promo (Facultatif)" }) }}
                    {{ form_row(form.titre, { "label": "Titre" }) }}
                    {{ form_row(form.description, { "label": "Description" }) }}

                    {{ form_row(form.categories, { "label": "Groupes" }) }}

                    <button class="btn btn-primary" type="submit">Valider</button>
                </div>
            </div>
        </div>

    {{ form_end(form) }}	
{% endblock %}
