<h5>
    <strong>{{ deal.titre }}</strong>
</h5>

<div class="h5">
    <span class="text-danger"><strong>{{ deal.prixReduction }} €</strong></span> 
    <span class="text-secondary"><del>{{ deal.prixHabituel }} €</del></span> 
    <span>-XX%</span>
    {% if deal.fraisLivraison is not null %}
        <span class="text-secondary"><i class="bi bi-truck"></i> {{ deal.fraisLivraison }} €</span>
    {% endif %}
    <span class="text-secondary">| Bons Plans <a class="text-info" href="#">[...]</a></span>
</div>

<div class="pb-2">
    {{ deal.description }}
</div>